<!-- assets/partials/inner-header.html -->
<header class="inner-header" data-header>
  <div class="inner-header-container">
    <!-- Social icons (left) -->
    <ul class="inner-social-list">
      <li><a id="social-instagram" class="inner-social-link" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
      <li><a id="social-facebook" class="inner-social-link" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
    </ul>
    <!-- Navbar (center) -->
    <nav class="inner-navbar" data-navbar>
      <div class="inner-navbar-top">
        <a href="index.html" class="inner-logo">
          <img src="./assets/images/logo.svg" alt="VisaMate logo" />
        </a>
        <button class="inner-nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
        <button class="inner-nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
          <ion-icon name="menu-outline"></ion-icon>
        </button>
      </div>
      <ul class="inner-navbar-list">
        <li><a href="index.html#home" class="inner-navbar-link" data-nav-link>home</a></li>
        <li><a href="about-us.html" class="inner-navbar-link" data-nav-link>about us</a></li>
        <li><a href="index.html#package" class="inner-navbar-link" data-nav-link>packages</a></li>
        <li><a href="visa-services.html" class="inner-navbar-link" data-nav-link>visa services</a></li>
        <li class="inner-navbar-link inner-dropdown" id="innerMoreDropdown">
          <button id="innerMoreDropdownBtn" class="inner-dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
            MORE <ion-icon name="chevron-down-outline"></ion-icon>
          </button>
          <ul class="inner-dropdown-menu" id="innerMoreDropdownMenu" aria-labelledby="innerMoreDropdownBtn">
            <li><a href="refund-policy.html">REFUND POLICY</a></li>
            <li><a href="privacy-policy.html">PRIVACY POLICY</a></li>
            <li><a href="contact-us.html">CONTACT US</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- CTA Button (right) -->
    <a href="getvisanow.html" class="inner-btn-primary">Get Visa Now</a>
  </div>
</header>
