<!-- assets/partials/inner-header.html -->
<header class="inner-header" data-header>
  <div class="container">
    <!-- 1) social icons -->
    <ul class="social-list">
      <li><a id="social-instagram" class="social-link" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </a></li>
      <li><a id="social-facebook" class="social-link" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
      </a></li>
      <li><a id="social-youtube" class="social-link" target="_blank">
        <ion-icon name="logo-youtube"></ion-icon>
      </a></li>
    </ul>

    <!-- 2) nav links -->
    <nav class="navbar" data-navbar>
      <div class="navbar-top">
        <a href="index.html" class="logo">
          <img src="./assets/images/logo-blue.svg" alt="VisaMate logo" />
        </a>
        <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>
      <ul class="navbar-list">
        <li><a href="index.html#home"       class="navbar-link" data-nav-link>Home</a></li>
        <li><a href="index.html#about-us"   class="navbar-link" data-nav-link>About Us</a></li>
        <li><a href="index.html#destination"class="navbar-link" data-nav-link>Destination</a></li>
        <li><a href="index.html#packages"   class="navbar-link" data-nav-link>Packages</a></li>
        <li><a href="index.html#gallery"    class="navbar-link" data-nav-link>Gallery</a></li>
        <li><a href="visa-services.html"    class="navbar-link" data-nav-link>Visa Services</a></li>
      </ul>
    </nav>

    <!-- 3) CTA button -->
    <a href="getvisanow.html" class="btn btn-primary">Get Visa Now</a>
  </div>
</header>
